::selection {
  background-color: #bb3933;
  color: #eee;
}
body {
	background-color: #eee;
	color: #666;
	font-family: arial;
	font-size: 16px;
}
footer {
	background-color: #333;
	clear: both;
	min-height: 250px;
	width: 100%;
}
footer .contenido_footer {
	margin: 0 auto;
	padding-top: 50px;
	width: 90%;
}
footer .contenido_footer .logo_footer {
	background-color: #333;
	margin: -15px auto 0 auto;
	padding: 0 40px;
	width: 89px;
	z-index: 2;
}
footer .contenido_footer .linea {
	background-color: white;
	height: 1px;
	width: 100%;
	z-index: 1;
}
footer .contenido_footer .registra_empresa {
	background-color: #ee4e5f;
	font-size: 0.9em;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 5px 0;
	text-align: center;
}
footer .contenido_footer .registra_empresa a {
	color: white;
	text-decoration: none;
}
footer li {
	font-size: 0.8em;
	list-style: none;
	padding-bottom: 5px;
	text-align: center;
}
footer li a {
	color: white;
	text-decoration: none;
}
footer li a:hover {
	color: #ccc;
	text-decoration: none;
}
header {
	background-color: #333;
	border-bottom: solid 3px #bb3933;
	height: 70px;
	width: 100%;
}
header .logo_blizuu {
	padding: 8px 0 0 2%;
}
header .avatar {
	display: none;
}
header .menu {
	background-image: url(../imagenes/menu_responsive_off.png);
	display: block;
	height: 39px;
	position: absolute;
	right: 15px;
	top: 18px;
	width: 39px;
}
header .menu:hover {
	background-image: url(../imagenes/menu_responsive_on.png);
	display: block;
	height: 39px;
	position: absolute;
	right: 15px;
	top: 18px;
	width: 39px;
}
nav ul li {
	display: none;
}
.banner {
	background:url(../imagenes/banner.jpg) no-repeat; 
	height: 216px;
	padding-top: 30px;
}
.banner .buscar {
	border-radius: 5px;
	border:none;
	box-shadow: 0 -3px 0 #ccc;
	color: #333;
	display: block;
	font-size: 0.9em;
	margin: 30px auto 0 auto;
	padding: 10px;
	text-align: center;
	width: 80%;
}
.banner .buscar:focus {
	border-color: #fc4345;
    outline: #fc4345;
}
.banner .empresas_center {
	margin: 0 auto;
	width: 185px;
}
.banner .empresas_center .empresas {
	background-color: #5ab2e2;
	border-radius: 15px 0 0 15px;
	box-shadow: 0 -3px 0 #48a3dc;
	color: white;
	font-size: 0.9em;
	height: 27px;
	line-height: 25px;
	text-align: center;
	width: 140px;
}
.banner .empresas_center .empresas,
.banner .empresas_center .empresas_icon {
	display: inline-block;
	vertical-align: top;
}
.banner .empresas_center .empresas_icon {
	background-color: #5ab2e2;
	border-radius: 0 15px 15px 0;
	box-shadow: 0 -3px 0 #48a3dc;
	height: 27px;
	width: 40px;
}
.banner .empresas_center .empresas_icon img {
	margin-top: 7px;
	margin-left: 10px;
	width: 15px;
}
.banner .lupa {
	background-color: #5ab2e2;
	border-radius: 50%;
	box-shadow: 0 -3px 0 #48a3dc;
	text-align: center;
	height: 37px;
	margin: 10px auto 0 auto;
	width: 40px;
}
.carrusel {
	display: none;
}
.contenido .contenido_principal {
	margin: 30px auto 0 auto;
	padding: 0;
	text-align: center;
	width: 90%;
}
.contenido .contenido_principal .articulo {
	display: inline-block;
	margin: 0 5px 20px 5px;
	vertical-align: top;
}
.contenido .contenido_principal .articulo .contenido_blanco {
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 0 0 20px 0;
  position: relative;
  width: 282px;
}
.contenido .contenido_principal .articulo .contenido_blanco .boton_recibir_ofertas {
	text-align: center;
	margin: 5px 0 0 0; 
}
.contenido .contenido_principal .articulo .contenido_blanco .boton_recibir_ofertas a {
	background-color: #4fa9de;
	border-radius: 10px;
	color: white;
	font-size: 0.6em;
	padding: 3px 10px;
	text-decoration: none;
}
.contenido .contenido_principal .articulo .contenido_blanco .boton_recibir_ofertas a:hover {
	color: #333;
}
.contenido .contenido_principal .articulo .contenido_blanco .boton_seguir_empresa {
	text-align: center;
	margin: 5px 0 0 0; 
}
.contenido .contenido_principal .articulo .contenido_blanco .boton_seguir_empresa a {
	background-color: #ee4e5f;
	border-radius: 10px;
	color: white;
	font-size: 0.7em;
	padding: 3px 10px;
	text-decoration: none;
}
.contenido .contenido_principal .articulo .contenido_blanco .boton_seguir_empresa a:hover {
	color: #333;
}
.contenido .contenido_principal .articulo .contenido_blanco .clientes {
	float: right;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 110px;
}
.contenido .contenido_principal .articulo .contenido_blanco .clientes p {
	color: #333;
	font-size: 0.8em;
	text-align: left;
	margin: 0;
	padding: 4px;
}
.contenido .contenido_principal .articulo .contenido_blanco .clientes .total {
	background-color: #333;
	border-radius: 50%;
	color: white;
	display: inline-block;
	float: left;
	height: 25px;
	font-size: 0.7em;
	line-height: 25px;
	margin-right: 5px;
	text-align: center;
	width: 25px; 
}
.contenido .contenido_principal .articulo .contenido_blanco .disponibles {
  color: #525252;
  font-size: 0.8em;
	font-weight: normal;
 	margin: 5px 10px 0 10px;
 	padding: 0;
}
.contenido .contenido_principal .articulo .contenido_blanco .disponibles strong {
  color: #1f643f;
}
.contenido .contenido_principal .articulo .contenido_blanco img {
  margin-top: 20px;
  margin-left: 10px;
  width: 110px;
}
.contenido .contenido_principal .articulo .contenido_blanco .iconos_contacto {
  height: 30px;
	margin:  20px auto 0 auto;
	text-align: center;
 	width: 200px;
}
.contenido .contenido_principal .articulo .contenido_blanco .iconos_contacto img {
	display: inline-block;
 	height: 23px;
 	margin-top: 2px;
 	width: 23px;
}
.contenido .contenido_principal .articulo .contenido_blanco .imagen {
 	margin: 0 auto 0 5px;
	text-align: left;
 	width: 300px;
}
.contenido .contenido_principal .articulo .contenido_blanco .imagen img {
 	display: inline-block;
 	margin: 0;
 	padding: 0;
 	width: 88px;
}
.contenido .contenido_principal .articulo .contenido_blanco .logo_empresa {
 	width: 110px;
}
.contenido .contenido_principal .articulo .contenido_blanco .publicado {
 	color: #525252;
 	font-size: 0.8em;
 	font-weight: normal;
 	margin: 1px 10px 0 10px;
 	padding: 0;
}
.contenido .contenido_principal .articulo .contenido_blanco .publicado_comentario {
 	color: #525252;
 	font-size: 0.8em;
 	font-weight: normal;
 	margin: 10px 10px 0 10px;
 	padding: 0;
 	text-align: left;
}
.contenido .contenido_principal .articulo .contenido_blanco .publicado_comentario .enviar_consulta {
 	background-color: #ee4e5f;
	border-radius: 10px;
 	font-size: 0.8em;
	font-weight: normal;
 	float: right;
 	margin-top: 1px;
 	padding: 1px 4px;
 	text-align: center;
 	width: 100px;
}
.contenido .contenido_principal .articulo .contenido_blanco .publicado_comentario .enviar_consulta:hover {
 	background-color: #333;
}
.contenido .contenido_principal .articulo .contenido_blanco .publicado_comentario .enviar_consulta a {
 	color: white;
 	text-decoration: none;
}
.contenido .contenido_principal .articulo .contenido_blanco .redes {
 	position: absolute;
 	right: 0;
 	top: 20px;
 	text-align: center;
 	width: 120px;
}
.contenido .contenido_principal .articulo .contenido_blanco .redes img {
	display: inline-block;
	height: 22px;
	margin: 0;
	padding: 0;
 	width: 22px;
}
.contenido .contenido_principal .articulo .contenido_blanco .redes p {
	color: #333;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	text-align: center;
}
.contenido .contenido_principal .articulo .contenido_blanco .seguidores {
	float: right;
	margin-bottom: 5px;
	width: 110px;
}
.contenido .contenido_principal .articulo .contenido_blanco .seguidores p {
	color: #333;
	font-size: 0.8em;
	text-align: left;
	margin: 0;
	padding: 4px;
}
.contenido .contenido_principal .articulo .contenido_blanco .seguidores .total {
	background-color: #333;
	border-radius: 50%;
	color: white;
	display: inline-block;
	float: left;
	height: 25px;
	font-size: 0.7em;
	line-height: 25px;
	margin-right: 5px;
	text-align: center;
	width: 25px; 
}
.contenido .contenido_principal .articulo .contenido_blanco .solicitar_cotizacion {
	background-color: #ee4e5f;
	border-radius: 10px;
	font-size: 0.6em;
	float: right;
	margin: 5px 2px;
	padding: 2px 1px;
	text-align: center;
	width: 130px;
}
.contenido .contenido_principal .articulo .contenido_blanco .solicitar_cotizacion a {
	color: white;
	text-decoration: none;
}
.contenido .contenido_principal .articulo .contenido_blanco .solicitar_cotizacion:hover {
	background-color: #c43444;
}
.contenido .contenido_principal .articulo .contenido_blanco .solicitar_informacion {
	background-color: #4fa9de;
	border-radius: 10px;
	font-size: 0.6em;
	float: left;
	margin: 5px 2px;
	padding: 2px 1px;
	text-align: center;
	width: 137px;
}
.contenido .contenido_principal .articulo .contenido_blanco .solicitar_informacion a {
	color: white;
	text-decoration: none;
}
.contenido .contenido_principal .articulo .contenido_blanco .solicitar_informacion:hover {
	background-color: #3e90c1;
}
.contenido .contenido_principal .articulo .contenido_blanco .titulo_gris {
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.contenido .contenido_principal .articulo .contenido_blanco .titulo_rosado {
  color: #ee4e5f;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
  padding: 0;
	text-align: left;
}
.contenido .contenido_principal .articulo .contenido_blanco .texto_descripcion {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  text-align: left;
  margin: 5px 10px 0 10px;
  padding: 0 0 10px 0;
}
.contenido .contenido_principal .articulo .contenido_blanco .texto_descripcion_clientes {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  float: left;
  text-align: left;
  margin: 5px 10px 0 10px;
  padding: 0 0 10px 0;
  width: 144px;
}
.contenido .contenido_principal .articulo .contenido_blanco .valor {
  background-color: #333;
  margin: 0 auto;
  width: 275px;
}
.contenido .contenido_principal .articulo .contenido_blanco .valor p {
	color: white;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}
.contenido .contenido_principal .articulo .contenido_blanco .ver_oferta {
  background-color:  #ee4e5f;
  border-radius: 10px;
  font-size: 0.6em;
  float: right;
  padding: 2px 8px;
  margin: 5px 5px 0 0;
  text-align: center;
  width: 70px;	
}
.contenido .contenido_principal .articulo .contenido_blanco .ver_oferta:hover {
  opacity: 0.9;	
}
.contenido .contenido_principal .articulo .contenido_blanco .ver_oferta a {
  color: white;
  text-decoration: none;
}
.contenido .contenido_principal .articulo .fondo_clientes {
  background-color: #eee;
  background-image: url(../imagenes/clientes.jpg);
  border-radius: 20px 20px 0 0;
  height: 150px;
  position: relative;
  width: 283px;
}
.contenido .contenido_principal .articulo .fondo_clientes figure {
  left: 23px;
  top: -5px;
  position: absolute;
}
.contenido .contenido_principal .articulo .titulo_article {
  background-color: #eee;
  border-radius: 20px 20px 0 0;
  border: 2px solid white;
  height: 73px;
  position: relative;
  width: 279px;
}
.contenido .contenido_principal .articulo .titulo_article .estrellas_comentario {
	margin-top: 20px;
}
.contenido .contenido_principal .articulo .titulo_article figure {
  left: 23px;
  top: -5px;
  position: absolute;
}
.contenido .contenido_principal .articulo .titulo_article p {
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0px 0 0 80px;
  text-align: left;
}
.contenido .contenido_principal .boton_rosa {
  background-color: #ee4e5f;
  border-radius: 10px;
  box-shadow: 0 3px 0 #bb3933;
  margin: 10px auto;
  padding: 5px 0;
  width: 80%;
}
.contenido .contenido_principal .boton_rosa a {
  color: white;
  text-decoration: none;
}
.contenido .contenido_principal .contenido_destacado {
	display: inline-block;
	margin: -5px 5px 37px 5px;
	vertical-align: top;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco {
  background-color: white;
  box-shadow: 0 3px 0 #bb3933;
  padding: 10px 0 20px 0;
  border-radius: 0 0 20px 20px;
  width: 283px;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .disponibles {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .disponibles strong {
  color: #1f643f;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .enviar_ofertas {
  background-image: url(../imagenes/destacados/enviar_ofertas.jpg);
  height: 25px;
  margin: 5px auto 0 auto;
  width: 275px;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .enviar_ofertas p {
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 25px;
  margin: 0;
  padding: 0 0 0 60px;
  text-align: left;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .publicado {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 1px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco img {
  margin-top: 20px;
  margin-left: 10px;
  width: 110px;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .imagen {
  margin: 0 auto;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .imagen img {
  margin: 2px 0 0 4px ;
  width: 275px;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .redes {
	float: right;
	margin-top: 20px;
	text-align: center;
	width: 120px;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .redes img {
	display: inline-block;
	height: 23px;
	margin: 0;
	padding: 0;
	width: 23px;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .redes img:hover {
	opacity: 0.7;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .redes p{
	color: #333;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	text-align: center;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .titulo_gris {
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .titulo_rosado {
  color: #ee4e5f;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .texto_descripcion {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .ver_oferta {
  background-color:  #ee4e5f;
  border-radius: 10px;
  font-size: 0.6em;
  float: right;
  padding: 2px 8px;
  margin: 5px 5px 0 0;
  text-align: center;
  width: 70px;	
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .ver_oferta:hover {
  opacity: 0.9;	
}
.contenido .contenido_principal .contenido_destacado .contenido_blanco .ver_oferta a {
  color: white;
  text-decoration: none;
}
.contenido .contenido_principal .contenido_destacado .duracion {
  color: white;
  background-color: #333;
  font-size: 0.8em;
  height: 20px;
  line-height: 20px;
  margin: -9px 0 0 7px; 
  position: absolute;
  text-align: center;
  width: 270px;
}
.contenido .contenido_principal .contenido_destacado .titulo_rosa {
  background-color: #eee;
  border-radius: 20px 20px 0 0;
  border: solid 2px white;
  height: 73px;
  position: relative;
  width: 279px;
}
.contenido .contenido_principal .contenido_destacado .titulo_rosa figure {
  left: 23px;
  top: -5px;
  position: absolute;
}
.contenido .contenido_principal .contenido_destacado .titulo_rosa p {
  color: #333;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 0 0 80px;
  text-align: left;
}
.contenido .contenido_principal .contenido_destacado .titulo_rosa .visitas {
  position: absolute;
  right: 15px;
  top: 15px;
}
.contenido .contenido_principal .contenido_destacado .titulo_rosa .visitas .numero {
  color: white;
  background-color: #333;
  border-radius: 100%;
  font-size: 0.7em;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  text-align: center;
  width: 25px;
}
.contenido .contenido_principal .contenido_destacado .titulo_rosa .visitas p {
  color: #333;
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.contenido .contenido_principal .descripcion_contenido {
	background-color: white;
	border-radius: 20px;
	border: 3px solid white;
	margin: 15px 0 0 0;
	padding: 0;
	width: 100%;
}
.contenido .contenido_principal .descripcion_contenido .contenedor_texto {
	margin: 10px auto;
	width: 95%;
}
.contenido .contenido_principal .descripcion_contenido .contenedor_texto p {
	font-size: 0.9em;
	line-height: 1.3em;
	text-align: left;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto {
	background-color: #eee;
	border-top: solid 3px white;
	display: inline-block;
	vertical-align: top;
	width: 100%; 
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .boton_recibir_ofertas {
	float: left;
	text-align: center;
	margin: 20px 0; 
	width: 50%;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .boton_recibir_ofertas a {
	background-color: #4fa9de;
	border-radius: 10px;
	color: white;
	font-size: 0.8em;
	padding: 3px 10px;
	text-decoration: none;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .boton_recibir_ofertas a:hover {
	color: #333;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .boton_seguir_empresa {
	float: right;
	text-align: center;
	margin: 20px 0; 
	width: 50%;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .boton_seguir_empresa a {
	background-color: #ee4e5f;
	border-radius: 10px;
	color: white;
	font-size: 0.8em;
	padding: 3px 10px;
	text-decoration: none;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .boton_seguir_empresa a:hover {
	color: #333;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .clientes {
	float: left;
	margin-left: 15%;
	margin-top: 20px;
	width: 35%; 
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .clientes p {
	color: #333;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .clientes .total {
	background-color: #333;
	border-radius: 50%;
	color: white;
	display: inline-block;
	height: 32px;
	font-size: 0.8em;
	line-height: 32px;
	text-align: center;
	width: 32px; 
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .estrellas {
	margin: 25px auto 0 auto;
	width: 176px;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .estrellas img {
	display: inline-block;
	margin: 0 auto;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .iconos_contacto {
	margin: 10px auto 0 auto;
	width: 123px;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .iconos_contacto img:hover {
	opacity: 0.8;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .seguidores {
	float: right;
	margin-left: 5%;
	margin-top: 20px;
	width: 45%; 
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .seguidores p {
	color: #333;
	display: inline-block;
	margin: 0;
	padding: 0;
}
.contenido .contenido_principal .descripcion_contenido .datos_contacto .seguidores .total {
	background-color: #333;
	border-radius: 50%;
	color: white;
	display: inline-block;
	height: 32px;
	font-size: 0.8em;
	line-height: 32px;
	text-align: center;
	width: 32px; 
}
.contenido .contenido_principal .descripcion_contenido .datos_contenido {
	background-color: #eee;
	border-radius: 20px 20px 0 0;
	margin: 0 auto;
	padding-top: 10px;
	width: 100%; 
}
.contenido .contenido_principal .descripcion_contenido .datos_contenido p {
	color: #393939;
	margin: 0; 
	padding: 0 0 5px 10px; 
	text-align: left;
}
.contenido .contenido_principal .descripcion_contenido .datos_contenido .redes {
	margin-top: 10px;
	text-align: center;
}
.contenido .contenido_principal .descripcion_contenido .datos_contenido .redes img:hover {
	opacity: 0.7
}
.contenido .contenido_principal .descripcion_contenido .datos_contenido .redes p {
	font-size: 0.8em;
	text-align: center;
}
.contenido .contenido_principal .ingresar_oferta .subir_foto .foto {
  background-color: #bbb;
  display: inline-block;
  height: 136px;
  margin-bottom: 5px;
  vertical-align: top;
  width: 136px;
}
.contenido .contenido_principal .ingresar_oferta .subir_foto .foto img {
  margin-top: 40px;
}
.contenido .contenido_principal .ingresar_oferta h4 {
  color: #333;
  margin: 0 0 12px 0;
  padding: 0;
}
.contenido .contenido_principal .ingresar_oferta input {
  border: none;
  padding: 7px 0;
  text-align: center;
  margin-bottom: 12px;
  width: 100%;
}
.contenido .contenido_principal .ingresar_oferta .input_nombre {
  border: none;
  padding: 7px 0;
  text-align: center;
  margin-bottom: 12px;
  width: 100%;
}
.contenido .contenido_principal .ingresar_oferta .linea_rosa {
  background-color: #ee4e5f;
  height: 7px;
  margin-bottom: 30px;
}
.contenido .contenido_principal .ingresar_oferta .mensaje {
  border: none;
  padding: 7px 0 0 1%;
  margin-bottom: 12px;
  min-height: 64px;
  width: 99%;
}
.contenido .contenido_principal .ingresar_oferta .selecciona_moneda {
  margin: 0 auto;
  padding: 5px 0;
  width: 280px;
  border: 1px black solid;
}
.contenido .contenido_principal .desplegable {
  margin-bottom: 10px;
  margin-top: 40px;
  padding: 10px 0;
}
.contenido .contenido_principal .desplegable .desplegable_oferta {
  display: inline-block;
  margin: 0 0 20px 0;
  vertical-align: top;
  width: 90%;
}
.contenido .contenido_principal .desplegable .desplegable_oferta .cuadro_azul {
  background-color: #5ab2e2;
  border-radius: 20px;
  box-shadow: 0 -3px 0 #48a3dc;
  display: inline-block;
  position: relative;
  width: 200px;
}
.contenido .contenido_principal .desplegable .desplegable_oferta .cuadro_azul figure {
  border-left: 3px solid #eee;
  display: inline-block;
  height: 30px;
  position: absolute;
  top: -3px;
  padding-top: 3px;
  right: 0;
  width: 40px;
}
.contenido .contenido_principal .desplegable .desplegable_oferta .cuadro_azul figure img {
  width: 18px;
  vertical-align: middle;
}
.contenido .contenido_principal .desplegable .desplegable_oferta .cuadro_azul p {
  color: white;
  display: inline-block;
  font-size: 0.8em;
  margin: 5px 0 5px 7px;
  padding: 0;
  float: left;
  width: 140px;
}
.contenido .contenido_principal .desplegable .desplegable_oferta .textos {
  display: none;
}
.contenido .contenido_principal .desplegable .desplegable_oferta .textos_movil {
  font-size: 0.8em;
  margin: 0;
  padding: 5px 10px 10px 0; 
}
.contenido .contenido_principal .moneda_center .moneda {
  background-color: #5ab2e2;
  border-radius: 15px 0 0 15px;
  box-shadow: 0 -3px 0 #48a3dc;
  color: white;
  font-size: 0.9em;
  height: 27px;
  line-height: 25px;
  text-align: center;
  width: 170px;
}
.contenido .contenido_principal .moneda_center .moneda,
.contenido .contenido_principal .moneda_center .empresas_icon {
  display: inline-block;
  vertical-align: top;
}
.contenido .contenido_principal .moneda_center .empresas_icon {
  background-color: #5ab2e2;
  border-radius: 0 15px 15px 0;
  box-shadow: 0 -3px 0 #48a3dc;
  height: 27px;
  width: 40px;
}
.contenido .contenido_principal .moneda_center .empresas_icon img {
  margin-top: 7px;
  width: 15px;
}
.contenido .contenido_principal .publicidad {
	background-color: white;
	border-radius: 20px;
	height: 259px;
	margin: 0 auto;
	position: relative;
	width: 100%;
}
.contenido .contenido_principal .publicidad figure {
	left: 23px;
  top: -5px;
  position: absolute;
}
.contenido .contenido_principal .publicidad .logo_claro {
  display: inline-block;
  height: 259px;
  text-align: center;
	width: 100%;
}
.contenido .contenido_principal .publicidad .logo_claro img {
  margin-top: 50px;
}
.contenido .contenido_principal .publicidad .telecomunicaciones {
	color: white;
	border-radius: 0 20px 20px 0;
	background-color: #ee4e5f;
	font-size: 0.8em;
	margin-left: 68px;
	padding: 3px 0;
	position: absolute;
	text-align: center;
	width: 198px;
}
.contenido .contenido_principal .texto_contactame {
  display: inline-block;
  padding-right: 40px;
}
.contenido .menu_contenido {
	background-color: #333;
	font-size: 0.8em;
	margin: 0 auto;
	padding: 7px 0;
	width: 90%;
}
.contenido .menu_contenido li {
	color: white;
	font-weight: lighter;
	list-style: none;
	padding: 3px 0;
	text-align: center;
	text-decoration: none
}
.contenido .menu_contenido li img {
	margin-left: 5px;
	margin-top: 3px;
	vertical-align: top;
	width: 15px;
}
.destacados {
	display: none;
}
.destacados_ingresar_ofertas {
  display: none;
}
.sep_footer {
	clear: both;
	height: 50px;
	width: 100%;
}
/* sub-contenido*/
.sub_contenido {
	margin: 5px 0 0 0;
	float: left;
	width: 100%;
}
.sub_contenido .articulos {
	margin: 20px auto 0 auto;
	text-align: center;
	width: 90%;
}
.sub_contenido .articulos .articulo {
	display: inline-block;
	margin: 0 7px 20px 7px;
	vertical-align: top;
}
.sub_contenido .articulos .articulo .contenido_blanco {
  background-color: white;
  border-radius: 0 0 20px 20px;
  padding: 0 0 20px 0;
  position: relative;
  width: 282px;
}
.sub_contenido .articulos .articulo .contenido_blanco .boton_recibir_ofertas {
	text-align: center;
	margin: 5px 0 0 0; 
}
.sub_contenido .articulos .articulo .contenido_blanco .boton_recibir_ofertas a {
	background-color: #4fa9de;
	border-radius: 10px;
	color: white;
	font-size: 0.6em;
	padding: 3px 10px;
	text-decoration: none;
}
.sub_contenido .articulos .articulo .contenido_blanco .boton_recibir_ofertas a:hover {
	color: #333;
}
.sub_contenido .articulos .articulo .contenido_blanco .boton_seguir_empresa {
	text-align: center;
	margin: 5px 0 0 0; 
}
.sub_contenido .articulos .articulo .contenido_blanco .boton_seguir_empresa a {
	background-color: #ee4e5f;
	border-radius: 10px;
	color: white;
	font-size: 0.6em;
	padding: 3px 10px;
	text-decoration: none;
}
.sub_contenido .articulos .articulo .contenido_blanco .boton_seguir_empresa a:hover {
	color: #333;
}
.sub_contenido .articulos .articulo .contenido_blanco .clientes {
	float: right;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 110px;
}
.sub_contenido .articulos .articulo .contenido_blanco .clientes p {
	color: #333;
	font-size: 0.8em;
	text-align: left;
	margin: 0;
	padding: 4px;
}
.sub_contenido .articulos .articulo .contenido_blanco .clientes .total {
	background-color: #333;
	border-radius: 50%;
	color: white;
	display: inline-block;
	float: left;
	height: 25px;
	font-size: 0.7em;
	line-height: 25px;
	margin-right: 5px;
	text-align: center;
	width: 25px; 
}
.sub_contenido .articulos .articulo .contenido_blanco .disponibles {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 5px 10px 0 10px;
  padding: 0;
}
.sub_contenido .articulos .articulo .contenido_blanco .disponibles strong {
  color: #1f643f;
}
.sub_contenido .articulos .articulo .contenido_blanco img {
  margin-top: 20px;
  margin-left: 10px;
  width: 110px;
}
.sub_contenido .articulos .articulo .contenido_blanco .iconos_contacto {
  height: 30px;
  margin:  20px auto 0 auto;
  text-align: center;
  width: 200px;
}
.sub_contenido .articulos .articulo .contenido_blanco .iconos_contacto img {
	display: inline-block;
  height: 23px;
  margin-top: 2px;
  width: 23px;
}
.sub_contenido .articulos .articulo .contenido_blanco .imagen {
  margin: 0 auto 0 5px;
  text-align: left;
  width: 300px;
}
.sub_contenido .articulos .articulo .contenido_blanco .imagen img {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 88px;
}
.sub_contenido .articulos .articulo .contenido_blanco .logo_empresa {
  width: 110px;
}
.sub_contenido .articulos .articulo .contenido_blanco .publicado {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 1px 10px 0 10px;
  padding: 0;
}
.sub_contenido .articulos .articulo .contenido_blanco .publicado_comentario {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 10px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.sub_contenido .articulos .articulo .contenido_blanco .publicado_comentario .enviar_consulta {
  background-color: #ee4e5f;
  border-radius: 10px;
  font-size: 0.8em;
  font-weight: normal;
  float: right;
  margin-top: 1px;
  padding: 1px 4px;
  text-align: center;
  width: 100px;
}
.sub_contenido .articulos .articulo .contenido_blanco .publicado_comentario .enviar_consulta:hover {
  background-color: #333;
}
.sub_contenido .articulos .articulo .contenido_blanco .publicado_comentario .enviar_consulta a {
  color: white;
  text-decoration: none;
}
.sub_contenido .articulos .articulo .contenido_blanco .redes {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: center;
  width: 120px;
}
.sub_contenido .articulos .articulo .contenido_blanco .redes img {
	display: inline-block;
	height: 22px;
	margin: 0;
	padding: 0;
  width: 22px;
}
.sub_contenido .articulos .articulo .contenido_blanco .redes p {
	color: #333;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	text-align: center;
}
.sub_contenido .articulos .articulo .contenido_blanco .seguidores {
	float: right;
	margin-bottom: 5px;
	width: 110px;
}
.sub_contenido .articulos .articulo .contenido_blanco .seguidores p {
	color: #333;
	font-size: 0.8em;
	text-align: left;
	margin: 0;
	padding: 4px;
}
.sub_contenido .articulos .articulo .contenido_blanco .seguidores .total {
	background-color: #333;
	border-radius: 50%;
	color: white;
	display: inline-block;
	float: left;
	height: 25px;
	font-size: 0.7em;
	line-height: 25px;
	margin-right: 5px;
	text-align: center;
	width: 25px; 
}
.sub_contenido .articulos .articulo .contenido_blanco .solicitar_cotizacion {
	background-color: #ee4e5f;
	border-radius: 10px;
	font-size: 0.6em;
	float: right;
	margin: 5px 2px;
	padding: 2px 1px;
	text-align: center;
	width: 130px;
}
.sub_contenido .articulos .articulo .contenido_blanco .solicitar_cotizacion a {
	color: white;
	text-decoration: none;
}
.sub_contenido .articulos .articulo .contenido_blanco .solicitar_cotizacion:hover {
	background-color: #c43444;
}
.sub_contenido .articulos .articulo .contenido_blanco .solicitar_informacion {
	background-color: #4fa9de;
	border-radius: 10px;
	font-size: 0.6em;
	float: left;
	margin: 5px 2px;
	padding: 2px 1px;
	text-align: center;
	width: 137px;
}
.sub_contenido .articulos .articulo .contenido_blanco .solicitar_informacion a {
	color: white;
	text-decoration: none;
}
.sub_contenido .articulos .articulo .contenido_blanco .solicitar_informacion:hover {
	background-color: #3e90c1;
}
.sub_contenido .articulos .articulo .contenido_blanco .titulo_gris {
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.sub_contenido .articulos .articulo .contenido_blanco .titulo_rosado {
  color: #ee4e5f;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.sub_contenido .articulos .articulo .contenido_blanco .texto_descripcion {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  text-align: left;
  margin: 5px 10px 0 10px;
  padding: 0 0 10px 0;
}
.sub_contenido .articulos .articulo .contenido_blanco .texto_descripcion_clientes {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  float: left;
  text-align: left;
  margin: 5px 10px 0 10px;
  padding: 0 0 10px 0;
  width: 144px;
}
.sub_contenido .articulos .articulo .contenido_blanco .valor {
  background-color: #333;
  margin: 0 auto;
	width: 275px;
}
.sub_contenido .articulos .articulo .contenido_blanco .valor p {
	color: white;
  margin: 0;
  padding: 5px 0;
  text-align: center;
}
.sub_contenido .articulos .articulo .contenido_blanco .ver_oferta {
  background-color:  #ee4e5f;
  border-radius: 10px;
  font-size: 0.6em;
  float: right;
  padding: 2px 8px;
  margin: 5px 5px 0 0;
  text-align: center;
  width: 70px;	
}
.sub_contenido .articulos .articulo .contenido_blanco .ver_oferta:hover {
  opacity: 0.9;	
}
.sub_contenido .articulos .articulo .contenido_blanco .ver_oferta a {
  color: white;
  text-decoration: none;
}
.sub_contenido .articulos .articulo .fondo_clientes {
  background-color: #eee;
  background-image: url(../imagenes/clientes.jpg);
  border-radius: 20px 20px 0 0;
  height: 150px;
  position: relative;
  width: 283px;
}
.sub_contenido .articulos .articulo .fondo_clientes figure {
  left: 23px;
  top: -5px;
  position: absolute;
}
.sub_contenido .articulos .articulo .titulo_article {
  background-color: #eee;
  border-radius: 20px 20px 0 0;
  border: 2px solid white;
  height: 73px;
  position: relative;
  width: 279px;
}
.sub_contenido .articulos .articulo .titulo_article .estrellas_comentario {
	margin-top: 20px;
}
.sub_contenido .articulos .articulo .titulo_article figure {
  left: 23px;
  top: -5px;
  position: absolute;
}
.sub_contenido .articulos .articulo .titulo_article p {
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0px 0 0 80px;
  text-align: left;
}
.sub_contenido .articulos .contenido_destacado {
	display: inline-block;
	margin: -5px 7px 20px 7px;
	vertical-align: top;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco {
  background-color: white;
  padding: 10px 0 20px 0;
  border-radius: 0 0 20px 20px;
  width: 283px;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .disponibles {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .disponibles strong {
  color: #1f643f;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .enviar_ofertas {
  background-image: url(../imagenes/destacados/enviar_ofertas.jpg);
  height: 25px;
  margin: 5px auto 0 auto;
  width: 275px;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .enviar_ofertas p {
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 25px;
  margin: 0;
  padding: 0 0 0 60px;
  text-align: left;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .publicado {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 1px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco img {
  margin-top: 20px;
  margin-left: 10px;
  width: 110px;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .imagen {
  margin: 0 auto;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .imagen img {
  margin: 2px 0 0 4px ;
  width: 275px;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .redes {
	float: right;
	margin-top: 20px;
	text-align: center;
	width: 120px;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .redes img {
	display: inline-block;
	height: 23px;
	margin: 0;
	padding: 0;
	width: 23px;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .redes img:hover {
	opacity: 0.7;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .redes p{
	color: #333;
	font-size: 0.8em;
	margin: 0;
	padding: 0;
	text-align: center;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .titulo_gris {
  color: #333;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .titulo_rosado {
  color: #ee4e5f;
  font-size: 0.9em;
  font-weight: bold;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .texto_descripcion {
  color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 5px 10px 0 10px;
  padding: 0;
  text-align: left;
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .ver_oferta {
  background-color:  #ee4e5f;
  border-radius: 10px;
  font-size: 0.6em;
  float: right;
  padding: 2px 8px;
  margin: 5px 5px 0 0;
  text-align: center;
  width: 70px;	
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .ver_oferta:hover {
	opacity: 0.9;	
}
.sub_contenido .articulos .contenido_destacado .contenido_blanco .ver_oferta a {
 	color: white;
 	text-decoration: none;
}
.sub_contenido .articulos .contenido_destacado .duracion {
  color: white;
  background-color: #333;
  font-size: 0.8em;
  height: 20px;
  line-height: 20px;
  margin: -9px 0 0 7px; 
  position: absolute;
  text-align: center;
  width: 270px;
}
.sub_contenido .articulos .contenido_destacado .titulo_rosa {
  background-color: #eee;
  border-radius: 20px 20px 0 0;
  border: solid 2px white;
  height: 73px;
  position: relative;
  width: 279px;
}
.sub_contenido .articulos .contenido_destacado .titulo_rosa figure {
  left: 23px;
  top: -5px;
  position: absolute;
}
.sub_contenido .articulos .contenido_destacado .titulo_rosa p {
  color: #333;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 0 0 80px;
  text-align: left;
}
.sub_contenido .articulos .contenido_destacado .titulo_rosa .visitas {
  position: absolute;
  right: 15px;
  top: 15px;
}
.sub_contenido .articulos .contenido_destacado .titulo_rosa .visitas .numero {
  color: white;
  background-color: #333;
  border-radius: 100%;
  font-size: 0.7em;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  text-align: center;
  width: 25px;
}
.sub_contenido .articulos .contenido_destacado .titulo_rosa .visitas p {
  color: #333;
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.sub_contenido .locales {
	margin: 20px auto 0 auto;
	text-align: center;
	width: 90%;
}
.sub_contenido .locales .btn_locales .botonera_locales {
	background-color: #ee4e5f;
	border-radius: 20px;
	font-size: 0.9em;
	margin: 5px 0;
	padding: 8px 0;
	text-align: left;
	width: 100%;
}
.sub_contenido .locales .btn_locales .botonera_locales a {
	color: white;
	padding-left: 10px;
	text-decoration: none;
}
.sub_contenido .locales .btn_locales .botonera_locales img {
	float: right;
	margin-right: 20px;
	margin-top: 3px;
}
.sub_contenido .locales .sucursal {
	margin-top: 25px;
	vertical-align: top;
}
.sub_contenido .locales .sucursal .direccion {
	color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.sub_contenido .locales .sucursal figcaption {
	background-color: white;
	margin: 0 auto;
	padding: 5px;
	width: 150px;
}
.sub_contenido .locales .sucursal figcaption img {
	width: 150px;
}
.sub_contenido .locales .sucursal h2 {
	color: #333;
	font-size: 0.9em;
	margin: 20px 0 0 0;
	padding: 0;
}
.sub_contenido .locales .sucursal .horario {
	color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 20px 0 0 0;
  padding: 0;
}
.sub_contenido .locales .sucursal .horarios {
	color: #525252;
  font-size: 0.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.sub_contenido .locales .sucursal .iconitos {
	margin-top: 30px;
}
.sub_contenido .locales .sucursal .iconitos img {
	height: 23px;
	width: 23px;
}
.sub_contenido .locales .sucursal .ver_mapa {
	background-color: #3ca56c;
	border-radius: 10px;
	font-size: 0.8em;
	margin: 10px auto 0 auto;
	padding: 2px 5px;
	width: 80px;
}
.sub_contenido .locales .sucursal .ver_mapa a {
	color: white;
	text-decoration: none;
}
.sub_contenido .sub_menu {
  display: none;
}
.sub_contenido .sub_menu_movil {
  background-color: #333;
  display: block;
  font-size: 0.9em;
  height: 34px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
.sub_contenido .sub_menu_movil:hover {
  background-color: #666;
  border-bottom: 4px solid #65bae6;
  display: block;
  font-size: 0.9em;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}
.sub_contenido .sub_menu_movil p {
  line-height: 33px;
}
.sub_contenido .sub_menu_movil p a {
  color: white;
  text-decoration: none;
}
.sub_contenido .sub_menu_movil p img {
  width: 10px;
}















.dasboard_contenido {
	color: white;
  	margin: 40px auto 0 auto;
  	width: 90%;
}
.dasboard_contenido .agregar_catalogo {
	background-color: #f0586a;
	margin: 20px 0;
  	padding: 40px 0 20px 0;
  	position: relative;
}
.dasboard_contenido .agregar_catalogo figure {
	position: absolute;
	top: 13px;
	right: 13px;
}
.dasboard_contenido .agregar_catalogo p {
	font-size: 1.6em;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .agregar_catalogo .al {
	display: inline;
	font-size: 1em;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .agregar_catalogo .bold {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 16px;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .agregar_catalogo .bold_catalogo {
	display: inline;
	font-size: 1.8em;
	font-weight: bold;
	padding: 0 0 0 5px;
	margin: 0;
}
.dasboard_contenido .estadisticas {
	background-color: white;
	color: #666;
	margin: 20px 0;
  	padding: 10px 0;
}
.dasboard_contenido h2 {
	color: #333;
	font-size: 1.3em;
	font-weight: bold;
	margin: 15px 0;
	padding: 20px 0 0 0;
}
.dasboard_contenido .linea_rosa {
	background-color: #f0586a;
	height: 5px;
}
.dasboard_contenido .nav {
  	background-color: #333;
  	height: 68px;
  	position: relative;
  	text-align: center;
}
.dasboard_contenido .nueva_oferta {
	background-color: #333;
	margin: 20px 0;
  	padding: 35px 0 35px 0;
  	position: relative;
}
.dasboard_contenido .nueva_oferta figure {
	position: absolute;
	top: 13px;
	right: 13px;
}
.dasboard_contenido .nueva_oferta p {
	font-size: 1.8em;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .nueva_oferta .bold {
	font-size: 1.9em;
	font-weight: bold;
	line-height: 16px;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .nueva_licitacion {
	background-color: #fbb132;
	margin: 20px 0;
  	padding: 35px 0 35px 0;
  	position: relative;
}
.dasboard_contenido .nueva_licitacion figure {
	position: absolute;
	top: 13px;
	right: 13px;
}
.dasboard_contenido .nueva_licitacion p {
	font-size: 1.8em;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .nueva_licitacion .bold {
	font-size: 1.9em;
	font-weight: bold;
	line-height: 16px;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .nav .iconos_derecha {
  	display: none;
}
.dasboard_contenido .nav li {
	list-style: none;
}
.dasboard_contenido .nav li a {
  	display: none;
}
.dasboard_contenido .nav .menu {
  	color: white;
  	line-height: 68px;
}
.dasboard_contenido .nav .menu img {
  	margin-left: 5px;
  	width: 15px;
}
.dasboard_contenido .publicar_requerimiento {
	background-color: #5ab2e2;
	margin: 20px 0;
  	padding: 70px 0 20px 0;
  	position: relative;
}
.dasboard_contenido .publicar_requerimiento figure {
	position: absolute;
	top: 13px;
	right: 13px;
}
.dasboard_contenido .publicar_requerimiento p {
	font-size: 1.8em;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .publicar_requerimiento .bold {
	font-size: 1.9em;
	font-weight: bold;
	line-height: 16px;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .ver_ofertas {
	background-color: #36a66a;
	margin: 20px 0;
  	padding: 35px 0 35px 0;
  	position: relative;
}
.dasboard_contenido .ver_ofertas figure {
	position: absolute;
	top: 13px;
	right: 13px;
}
.dasboard_contenido .ver_ofertas p {
	font-size: 1.8em;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .ver_ofertas .bold {
	font-size: 1.9em;
	font-weight: bold;
	line-height: 16px;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .ver_licitaciones {
	background-color: #888;
	margin: 20px 0;
  	padding: 35px 0 35px 0;
  	position: relative;
}
.dasboard_contenido .ver_licitaciones figure {
	position: absolute;
	top: 13px;
	right: 13px;
}
.dasboard_contenido .ver_licitaciones p {
	font-size: 1.8em;
	padding: 0 0 0 15px;
	margin: 0;
}
.dasboard_contenido .ver_licitaciones .bold {
	font-size: 1.9em;
	font-weight: bold;
	line-height: 16px;
	padding: 0 0 0 15px;
	margin: 0;
}